<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackiepenghe.blelibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <service android:name=".BluetoothLeService" />
        <service android:name=".BluetoothMultiService" />
    </application>

</manifest>
